<!DOCTYPE html>
<html>
    <head>
        <title>Program 3</title>
        <style>
            body {
                background-color: orange;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }

            ul {
                color: blue;
                list-style-type: square;
            }
            ol {
                color: green;
                list-style-type: upper-roman;
            }
        </style>
    </head>
    <body>
        <h1>Unordered Fruits List</h1>
        <ul>
            {{fruits | unordered_list}}
        </ul>
        <br><br>
        <h1>Ordered Students List</h1>
        <ol>
            {% for student in students %}
                <li>Student #{{forloop.counter}} is {{student}}</li>
            {% endfor %}
        </ol>
    </body>
</html>